In [51]:
##importing aall the libraries
import requests
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql import SparkSession
from pyspark.sql.functions import when
from pyspark.sql import functions as F
from pyspark.sql.types import FloatType
import logging
from pyspark.sql.functions import regexp_replace, col, when, sum as spark_sum, to_date, window, lit
import pandas as pd

In [52]:
# Creating logger
logger = logging.getLogger('pyspark_project')
logger.setLevel(logging.INFO)  # Set the logging level

# Create a file handler that logs messages to a file
file_handler = logging.FileHandler('spark_project.log')
file_handler.setLevel(logging.INFO)  # Set the handler level

# Create a formatter and set it for the handler
formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')
file_handler.setFormatter(formatter)

# Add the handler to the logger
logger.addHandler(file_handler)

In [53]:
##importing all the UDF functions
from fetch import get_all_companies_df, \
get_company_df,\
get_exchange_rates_df,\
get_all_sepa_transactions_df,\
get_all_swift_transactions_df

In [54]:
#All the pandas dataframes

print("Company Details")
display(get_all_companies_df()) #this will fetch all the companies thus without any set limit

# print("Company Details by ID")
# display(get_company_df())

print("Exchange Rates")
display(get_exchange_rates_df())

print("Currency EUR")
display(get_all_sepa_transactions_df())

print("Currency USD")
display(get_all_swift_transactions_df())

Company Details

,id,ibans,name,address
0,1,['FR5875918640140818391314958'],Legendre Maury S.A.,Flat 6\nSara ford\nClarkstad\nW3 3XF
1,2,['GB51SJEV83747591864014'],Poirier S.A.R.L.,66 Gallagher river\nWest Jacobburgh\nB0E 5TY
2,3,['DE14065609541598144038'],Bourdon S.A.,"62, boulevard de Imbert\n52593 Hebert-les-Bains"
3,4,['DE77193919112673928344'],Samson,Nisapad 85\n2112 OC\nKootstertille
4,5,['NL28SZUK8962850954'],Trespa,rue Carpentier\n08913 David
...,...,...,...,...
95,96,['FR8971028934697447354528337'],Cameron-Buckley,"70, chemin Mathieu\n61934 Diallo-les-Bains"
96,97,['GB03FIGW90406560954159'],Fischer,Matthiasstraat 87\n4571 JK\nRhoon
97,98,['NL64VYXQ3747591864'],Scholz AG,"14, chemin Alice Guyot\n25452 Perrin"
98,99,['DE25158328581042042324'],Franke,Döhnring 864\n53661 Soltau
99,100,['GB68JEWG24681676155117'],"Howard, McCarthy and Harris",Ringstr. 55\n21108 Gießen

Exchange Rates

  currency  usd_rate  eur_rate
0      EUR    1.1290   1.00000
1      GBP    1.3469   0.88048
2      USD    1.0000   1.05450
3      CHF    0.9188   0.98790

Currency EUR

,id,payer,receiver,amount,currency,timestamp
0,321655fb-baaa-4c1f-9db5-a18e6dcf2a9b,DE28769442194283747591,DE83269553931086167923,46698.5370,EUR,2021-01-05T23:27:55.037925Z
1,c2dac74a-1429-47e3-b79a-bc45443fad91,GB14BJFP97283080256499,FR7209925764719308621072695,78540.6545,EUR,2021-01-09T16:14:41.160841Z
2,da546b40-4090-491a-b461-ef96ae7411b0,GB51SJEV83747591864014,FR6703114243904065609541598,57279.2525,EUR,2021-01-09T16:14:41.160841Z
3,f4ddd063-8b6a-423e-83be-414859ac6229,DE22852399214609282672,DE28769442194283747591,84210.2831,EUR,2021-01-13T18:35:09.5248Z
4,9370bff3-a206-413f-814f-e91f0ed45bf1,GB53SGBR62107269553931,NL86QGLJ2281132931,19508.4356,EUR,2021-01-14T05:36:06.595899Z
...,...,...,...,...,...,...
495,f074bc52-b8d8-48cd-86ff-9038120beff3,DE45935285711210464241,NL29JIUW1905724186,47891.9428,EUR,2023-05-14T16:11:16.045573Z
496,76688b98-0099-48eb-a20e-ab1e891cf0be,FR9053931086167923317090557,NL73QLRU1042042324,5004.9713,EUR,2023-05-17T09:49:54.526892Z
497,6c8e20f3-56eb-4ed7-bdff-4a34ca025ce3,GB82GLCT20327785811877,FR9053931086167923317090557,43240.1286,EUR,2023-05-27T20:28:14.926212Z
498,20329834-e639-407f-a768-53e7e50d11ba,FR6914403835422811329318493,GB52OFVC96730974809855,98827.7993,EUR,2023-05-31T16:46:22.309889Z
499,3461ef96-ae74-41b0-8930-d89df4b07e20,DE25158328581042042324,FR8971028934697447354528337,33056.1674,EUR,2023-05-31T16:46:22.309889Z

Currency USD

,id,sender,beneficiary,amount,currency,timestamp
0,aafad863-2487-4a47-a6ab-f2148904b49f,DE16190572418695454227,GB41QLOD12104642412552,32777.3687,USD,2021-01-01T07:50:28.308495Z
1,c0ae366c-14e5-40de-af2b-f666a5e3042f,AT571436619956067656,CH9443043897520109122,58409.7006,GBP,2021-01-01T09:24:38.686109Z
2,98517a20-7779-4822-9c77-16386c1f6feb,NL60UXDS1126739283,FR7868098366976944219428374,86500.9390,CHF,2021-01-01T16:52:30.067201Z
3,1f3a4d6b-d377-4a8f-af7a-0d35b78822fc,AT858792009978489872,AT202035283792830612,60469.1585,USD,2021-01-01T18:28:43.838303Z
4,c8a32704-f06e-48e4-8be0-0f352130d89c,ES7702940454537092395387,FI1335283792830612,60469.1585,USD,2021-01-01T18:28:43.838303Z
...,...,...,...,...,...,...
4995,d72e5d02-b6ce-4413-b150-1b26a193755d,FI1579253694856292,FI1427409868566250,16225.8149,EUR,2021-11-21T15:57:15.100904Z
4996,1f3a5795-5dc8-4c76-aaf6-4b250959940d,CH3712571221452808460,ES5902234757155067947078,42814.9479,USD,2021-11-21T19:21:14.588922Z
4997,bef6215f-165b-469a-b3d8-f3d2cd3bfe3b,DE45306993503114243904,DE94676599511488423203,90943.1532,GBP,2021-11-21T19:50:35.541695Z
4998,f42a79ef-02ae-4fc9-b75e-a21fabe980bd,AT948724335665660421,CH1896177469978592665,90943.1532,CHF,2021-11-21T19:50:35.541695Z
4999,32ebea86-dd2f-4c2b-84b0-8419ec734a1b,ES1354665077142686480765,AT392351424889587255,90698.3491,GBP,2021-11-21T21:01:28.438577Z

In [55]:
# Initialize a Spark session
try:

    spark = SparkSession.builder \
        .appName("CashFlow") \
        .getOrCreate()

# Log the Spark session start
    logger.info("Spark session started.")

except Exception as e:
    logger.error("Error: Spark session could not start: {e}")

In [56]:
##Converting to spark DataFrame
companies_all_data = get_all_companies_df()
exchange_all_data = get_exchange_rates_df()
sepa_all_data = get_all_sepa_transactions_df()
swift_all_data = get_all_swift_transactions_df()
 
# Create a DataFrame
all_companies_df_spark = spark.createDataFrame(companies_all_data)
exchange_df_spark = spark.createDataFrame(exchange_all_data)
sepa_df_spark = spark.createDataFrame(sepa_all_data)
swift_df_spark = spark.createDataFrame(swift_all_data)

In [57]:
##Renameing the columns
sepa_df_spark = sepa_df_spark.withColumn("Sender", col("payer"))

# Select relevant columns and rename beneficiary to receival
sepa_df_spark = sepa_df_spark.select("id", col("payer").alias("Sender"),"receiver", "amount", "currency", "timestamp")  
# sepa_df_spark.show()

In [66]:
#Converting Swift data currencies to EUR
 
try:
    # Join the SWIFT transactions with currency rates
    joined_df = swift_df_spark.join(exchange_df_spark, on="currency", how="inner")
    
    # Convert amount to EUR
    converted_df = joined_df.withColumn("amount", col("amount").cast("float") / col("eur_rate"))
    
    # Set currency to 'EUR' for all records
    converted_df_with_eur = converted_df.withColumn("currency", lit("EUR"))
    
    # Select relevant columns and rename beneficiary to receiver
    swift_final_df = converted_df_with_eur.select(
        "id", 
        "sender", 
        col("beneficiary").alias("receiver"), 
        "amount", 
        "currency", 
        "timestamp"
    )
    
    # Show the final DataFrame with the renamed column
    # swift_final_df.show()
    
    # # Count the records
    # swift_final_df.count()

    logger.info("SWIFT table currencies converted to EUR.")

except Exception as e:
    logger.error("Error: SWIFT table currencies conversion to EUR stopped.: {e}")

In [59]:
##Merging the swift and sepa dataframe to create a MasterDataFrame
try:
    final_merged_df = sepa_df_spark.union(swift_final_df)
    logger.info("Merging SWIFT & SEPA tables into one")  
except Exception as e:
    logger.error("Error: Merging SWIFT & SEPA tables into one failed: {e}")

# Show the merged DataFrame
print("Merged DataFrame:") 
# final_merged_df.count()
# final_merged_df.show()
# final_merged_df.describe()

Merged DataFrame:

In [60]:
##Clearing the companies ibans column
 
# Use regexp_replace to remove square brackets and single quotes
cleaned_all_companies_df = all_companies_df_spark.withColumn("ibans", regexp_replace(col("ibans"), "[\\[\\]' ]", ""))
 
# Show the result
# cleaned_all_companies_df.show()
# cleaned_all_companies_df.describe()

In [61]:
###Company wise current account balance 

# Join the DataFrames on ibans with sender and receiver
# We will perform two separate joins: one for sender and one for receiver
sender_join = final_merged_df.join(cleaned_all_companies_df, final_merged_df.Sender == cleaned_all_companies_df.ibans, "inner") \
    .select(cleaned_all_companies_df.name, final_merged_df.amount, final_merged_df.currency, final_merged_df.timestamp,final_merged_df.Sender)

receiver_join = final_merged_df.join(cleaned_all_companies_df, final_merged_df.receiver == cleaned_all_companies_df.ibans, "inner") \
    .select(cleaned_all_companies_df.name, final_merged_df.amount, final_merged_df.currency, final_merged_df.timestamp,final_merged_df.receiver)

# Rename the amount columns to indicate whether it's from sender or receiver
sender_join = sender_join.withColumnRenamed("amount", "sent_amount")
receiver_join = receiver_join.withColumnRenamed("amount", "received_amount")

# Combine sender and receiver data
combined_df = sender_join.join(receiver_join, ["name", "currency", "timestamp"], "outer") 


# Handle null values by replacing them with 0
combined_df = combined_df.fillna(0)

# Calculate the total amount for each company
master_table_df = combined_df.groupBy("name", "currency", "timestamp").agg((F.sum("sent_amount") - F.sum("received_amount")).alias("current_amount"))

# Show the resulting master table
# print(master_table_df.describe())
master_table_df.show(truncate=False)

logger.info("Company wise current account balance table formed.")

# master_table_df.show()

+--------------------------------+--------+---------------------------+-------------------+
|name                            |currency|timestamp                  |current_amount     |
+--------------------------------+--------+---------------------------+-------------------+
|Auger Legros SARL               |EUR     |2021-07-13T12:34:54.10906Z |47773.57456140351  |
|Bosch & van Haspengouw          |EUR     |2021-11-12T21:48:42.752304Z|-25644.941         |
|Didier                          |EUR     |2021-03-14T19:28:02.163428Z|83590.8828236131   |
|Evans-Davison                   |EUR     |2021-09-07T15:05:44.417726Z|5031.705078125     |
|Gröttner                        |EUR     |2022-03-20T03:46:55.566935Z|-42050.1207        |
|Hanegraaff & Hekker             |EUR     |2021-06-02T14:43:17.365464Z|-48217.52734375    |
|Hanegraaff & Hekker             |EUR     |2021-11-26T03:00:39.389898Z|50783.115          |
|Henderson-Wright                |EUR     |2021-04-07T10:11:05.848455Z|87497.89642170261  |
|Houghton, Murray and Thomas     |EUR     |2021-07-08T10:53:31.761763Z|-73365.47978899952 |
|Jäntsch Schweitzer GmbH & Co. KG|EUR     |2021-07-14T05:26:08.064539Z|-16257.166796360967|
|Le Gall SARL                    |EUR     |2021-01-30T19:27:03.43481Z |56307.1015625      |
|Le Gall SARL                    |EUR     |2021-09-06T03:03:26.427008Z|32325.86904338549  |
|Poirier S.A.R.L.                |EUR     |2021-02-06T18:04:17.050639Z|-7201.8525515647225|
|Poirier S.A.R.L.                |EUR     |2021-08-12T22:50:48.596714Z|-13851.945902377112|
|Portaal                         |EUR     |2021-11-18T14:48:39.952667Z|53348.35081792319  |
|Remmers & Gruijl                |EUR     |2021-01-21T02:34:02.50913Z |67464.69784391133  |
|Simpson, Thompson and Lamb      |EUR     |2021-03-23T23:27:53.407815Z|25688.251          |
|Smith, Francis and Hurst        |EUR     |2021-11-02T16:59:59.582103Z|-78016.4251422475  |
|Fabre S.A.                      |EUR     |2021-09-11T20:37:04.742055Z|9043.377998785301  |
|Grein Groth                     |EUR     |2021-06-06T11:06:54.950438Z|37648.689396633476 |
+--------------------------------+--------+---------------------------+-------------------+
only showing top 20 rows

In [62]:
##Country-code to Country mapping
# Path to the CSV file
path = r'C:\Work\Freelancing\1\CashFlow\data\IBAN_country_code_map.csv'
 
# Read the CSV into a Pandas DataFrame
country_code_df_pd = pd.read_csv(path)
 
# Initialize a Spark session
spark = SparkSession.builder \
    .appName("Create DataFrame Example") \
    .getOrCreate()
 
# Convert Pandas DataFrame to Spark DataFrame
all_countries_df_spark = spark.createDataFrame(country_code_df_pd)
 
# Show the Spark DataFrame
# all_countries_df_spark.show()
# all_countries_df_spark.describe()

In [63]:
##List of countries the client transacts within
try:

    # Extract the first two characters from Sender and Receiver as country codes
    final_merged_df = final_merged_df.withColumn("Sender_Country_Code", F.substring(F.col("Sender"), 1, 2))
    final_merged_df = final_merged_df.withColumn("Receiver_Country_Code", F.substring(F.col("Receiver"), 1, 2))

    # Perform the join on Sender's country code and Alpha-2 code
    sender_joined_df = final_merged_df.join(
        all_countries_df_spark,
        final_merged_df["Sender_Country_Code"] == all_countries_df_spark["Alpha-2_code"],
        "inner"
    ).select("id", "Sender", "Receiver", "amount", "currency", "timestamp", "Country")

    final_merged_df.describe()
    # sender_joined_df.describe()
    all_countries_df_spark.describe()
    # Perform the join on Receiver's country code and Alpha-2 code
    receiver_joined_df = final_merged_df.join(
        all_countries_df_spark,
        final_merged_df["Receiver_Country_Code"] == all_countries_df_spark["Alpha-2_code"],
        "inner"
    ).select("id", "Sender", "Receiver", "amount", "currency", "timestamp", "Country")

    # Union the results from both Sender and Receiver joins and get distinct countries
    transacting_countries_df = sender_joined_df.union(receiver_joined_df).select("Country","sender").distinct()

    # Show the final list of distinct countries where the client transacts
    transacting_countries_df.show()
    logger.info("List of countries the client transacts within table formed")

except Exception as e:
    logger.error("Error: List of countries the client transacts within table failed: {e}")

+-----------+--------------------+
|    Country|              sender|
+-----------+--------------------+
|    Germany|DE840427972830802...|
|    Germany|DE315883533981354...|
|    Finland|  FI7639544125151944|
|    Finland|  FI9157647934164520|
|    Finland|  FI0256023946615804|
|    Finland|  FI4236965162079387|
|    Austria|AT975995114884232035|
|    Austria|AT699932442699000335|
|    Austria|AT296977197396800278|
|      Spain|ES135466507714268...|
|Switzerland|CH495151944152374...|
|Switzerland|CH043384856495780...|
|    Finland|  FI7280623357383710|
|    Finland|  FI4360367622228283|
|    Austria|AT229907409557196828|
|    Austria|AT806207263423409057|
|    Austria|AT198260157171844817|
|      Spain|ES820968560915060...|
|Switzerland|CH466708716858918...|
|Switzerland|CH589135210995894...|
+-----------+--------------------+
only showing top 20 rows

In [64]:
## Creating Master dataset
from pyspark.sql import functions as F

try:

    # Step 1: Join final_merged_df with cleaned_all_companies_df for the sender
    sender_join = final_merged_df.join(cleaned_all_companies_df, final_merged_df.Sender == cleaned_all_companies_df.ibans, "inner") \
        .select(cleaned_all_companies_df.name.alias("Sender_name"), final_merged_df.amount.alias("sent_amount"), final_merged_df.currency, final_merged_df.timestamp)

    # Step 2: Join final_merged_df with cleaned_all_companies_df for the receiver
    receiver_join = final_merged_df.join(cleaned_all_companies_df, final_merged_df.receiver == cleaned_all_companies_df.ibans, "inner") \
        .select(cleaned_all_companies_df.name.alias("Receiver_name"), final_merged_df.amount.alias("received_amount"), final_merged_df.currency, final_merged_df.timestamp)

    # Step 3: Combine sender and receiver data into one DataFrame
    combined_df = sender_join.join(receiver_join, ["currency", "timestamp"], "outer")

    # Step 4: Handle null values (if any) by replacing them with 0
    combined_df = combined_df.fillna({"sent_amount": 0, "received_amount": 0})

    # Step 5: Calculate the total balance for each company
    master_table_df = combined_df.groupBy("Sender_name", "Receiver_name", "currency", "timestamp") \
        .agg(
            F.sum("sent_amount").alias("total_sent"),
            F.sum("received_amount").alias("total_received"),
            (F.sum("received_amount") - F.sum("sent_amount")).alias("balance")
        )

    # Show the resulting master table
    master_table_df.show(truncate=False)

    logger.info("Master dataset created.")    

except Exception as e:
    logger.error("Error: Master dataset creation failed: {e}")

+--------------------------------+---------------------------------------+--------+---------------------------+------------------+------------------+-------------------+
|Sender_name                     |Receiver_name                          |currency|timestamp                  |total_sent        |total_received    |balance            |
+--------------------------------+---------------------------------------+--------+---------------------------+------------------+------------------+-------------------+
|Kaur, Kemp and Turner           |Houghton, Murray and Thomas            |EUR     |2021-01-17T03:19:46.124424Z|167952.8696625    |162534.453125     |-5418.416537499987 |
|Fabre S.A.                      |Lesage                                 |EUR     |2021-01-25T20:33:24.766877Z|85043.58063215518 |85043.58063215518 |0.0                |
|Lesage                          |Bailey-Bolton                          |EUR     |2021-02-08T00:16:08.73216Z |15652.254845305832|7351.75048828125  |-8300.504357024582 |
|Schofield PLC                   |Bosch & van Haspengouw                 |EUR     |2021-02-08T11:42:18.74947Z |71766.4566293267  |17347.739598150783|-54418.71703117591 |
|Sontag                          |Cichorius                              |EUR     |2021-02-11T22:31:26.82783Z |78233.00213837433 |78233.00213837433 |0.0                |
|Striebitz                       |Trespa                                 |EUR     |2021-02-21T18:05:41.018975Z|63935.5221619091  |13462.454290667072|-50473.067871242034|
|Lesage                          |Bosch & van Haspengouw                 |EUR     |2021-03-01T16:32:07.070232Z|34225.85496680891 |77716.16760176267 |43490.31263495376  |
|Fitzgerald Inc                  |Leconte                                |EUR     |2021-03-09T05:05:00.582853Z|93625.9677        |93625.9677        |0.0                |
|Welch-Ryan                      |Schofield PLC                          |EUR     |2021-03-31T22:49:03.509099Z|74239.5882430606  |59123.1177        |-15116.470543060597|
|Fabre S.A.                      |Leduc                                  |EUR     |2021-05-22T03:10:30.628868Z|89237.25699383594 |1802.1556841586653|-87435.10130967727 |
|Goudriaan NV                    |Valette Fleury SA                      |EUR     |2021-05-27T10:47:15.118848Z|67691.32290184921 |68672.859375      |981.5364731507871  |
|van der Noot & Jonkman          |Nelson Group                           |EUR     |2021-07-11T15:42:07.549918Z|165302.99448107622|185395.609375     |20092.614893923776 |
|Bourdon S.A.                    |Armstrong Inc                          |EUR     |2021-07-17T00:09:29.456805Z|51314.28179824561 |66794.7890625     |15480.50726425439  |
|Kaur, Kemp and Turner           |le Gallen & van Gelder                 |EUR     |2021-07-19T08:31:54.311466Z|40238.16796875    |11837.643358819345|-28400.524609930653|
|Putz                            |Le Gall SARL                           |EUR     |2021-08-09T22:01:54.141983Z|32257.634690611663|98070.83681293653 |65813.20212232486  |
|Jones, Smith and Waters         |Kusch                                  |EUR     |2021-08-12T22:50:48.596714Z|97499.684         |78373.93          |-19125.754         |
|Le Gall SARL                    |Le Gall SARL                           |EUR     |2021-08-15T01:08:18.821693Z|10728.182097125215|73545.26730678047 |62817.085209655255 |
|Jones, Shepherd and Price       |Freudenberger Grein Groth GmbH & Co. KG|EUR     |2021-08-26T10:23:39.739746Z|94329.2374        |36235.0640113798  |-58094.1733886202  |
|Sanderson, Fox and Holland      |Leconte                                |EUR     |2021-08-26T23:13:39.270488Z|41352.47747747748 |66755.43808490822 |25402.960607430745 |
|Jäntsch Schweitzer GmbH & Co. KG|Leconte                                |EUR     |2021-09-02T03:48:28.445666Z|28679.33373340446 |77891.1953125     |49211.86157909554  |
+--------------------------------+---------------------------------------+--------+---------------------------+------------------+------------------+-------------------+
only showing top 20 rows

In [65]:
##Converting Spark dataframe to Pandas dataframe & Loading it into a csv
try:
    master_table_pandas_df = master_table_df.toPandas()
    logger.info("Converted master dataset from Spark dataframe to Pandas dataframe successfully.")
except Exception as e:
    logger.error(f"Error: Failed to convert spark df to Pandas df: {e}")  

try:
    file_path = "C:/Work/Freelancing/1/CashFlow/output/master_dataset2.csv"
    # Write the Pandas DataFrame to a CSV file
    master_table_pandas_df.to_csv(file_path, index=False)
    logger.info("Loaded master dataset to csv successfully.")

except Exception as e:
    logger.error(f"Failed to load master dataset to csv: {e}")